.table-cart_left table {
    width: auto;
}

.table-cart_left th, td {
    padding: 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-cart_left button{
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.information, .item-cart{
    display: flex;
    align-items: center;
}
